<section class="section--first section--last">
    <div class="section-divider layoutSingleColumn">
        <hr class="section-divider">
    </div>
    <div class="section-content">
        <div class="section-inner layoutSingleColumn">
            <h3 class="graf--h3 graf--first"><span
                class="defaultValue defaultValue--root">Title</span><br>
            </h3>
            <p class="graf--p graf--last is-selected"><span class="defaultValue defaultValue--root">Tell your story…</span><br>
            </p>
        </div>
    </div>
</section>
